extends layout

block content
  h1= "Nuevo Alquiler"
  form(id="newRent" method="post" action="/rent/new")
    label Dias de alquiler
    input(type="text")
    br
    label Selecciona vehiculo
    br
    select(name="car")
      
    br
    label Selecciona Cliente
    br
    select(name="client")
      
    br
    br
    input(type="submit")


